@using RssLibrary
@model RssLibrary.Models.Pagination

@{
    ViewBag.Title = "Index";
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var pageSize = Model.PageSize;
    var pageIndex = Model.PageIndex;
    var totalPages = Model.TotalPages;
    var titleToSearch = Model.TitleToSearch;
    var rssItemsList = Model.RssItemsList;
    var linkToRss = Model.LinkToRss;
    var isActive = pageIndex == 1 ? "active" : "";
}
<div class="container">
    <div class="row">
        <img src="~/images/banner_rss.jpg" class="rssLogoImage"/>
    </div>
    <br/>


    @using (Html.BeginForm("Link", "Rss", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    @Html.Label("Rss", "Rss link:", new {@class = "rssLink"})
                </div>
                <div class="col-lg-9 col-md-9 col-sm-11">
                    @Html.EditorFor(model => model.LinkToRss, new {htmlattributes = new {@class = "form-control"}})
                </div>
                <div class=" col-lg-1 col-md-1 col-sm-1">
                    <input type="submit" value="Pobierz" class="btn"/>
                </div>
            </div>
        </div>
    }

    <br/>

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-3">
                    @Html.Label("Rss", "Szukaj po tytule:", new {@class = "rssLink"})
                </div>
                <div class="col-lg-6 col-md-5 col-sm-11">
                    @Html.EditorFor(model => model.TitleToSearch, new {htmlattributes = new {@class = "form-control"}})
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1">
                    <input type="submit" value="Szukaj" class="btn" 
                           asp-action="Index" 
                           asp-route-pageIndex="@(rssItemsList.IndexOf(rssItemsList.FirstOrDefault()) + 1)" 
                           asp-route-titleToSearch="@titleToSearch" 
                           asp-route-pageSize="@pageSize" 
                           asp-route-linkToRss="@linkToRss"/>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="col-lg-5 col-md-6 col-sm-4">
                    @Html.Label("Rss", "Ilość elementów na stronie: ", new {@class = "rssLink"})
                </div>
                <div class="col-lg-5 col-md-4 col-sm-11">
                    @Html.EditorFor(model => model.PageSize, new {htmlattributes = new {@class = "form-control"}})
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1">
                    <input type="submit" value="Zmień" class="btn" 
                           asp-action="Index" 
                           asp-route-pageIndex="@(rssItemsList.IndexOf(rssItemsList.FirstOrDefault()) + 1)" 
                           asp-route-titleToSearch="@titleToSearch" 
                           asp-route-pageSize="@pageSize" 
                           asp-route-linkToRss="@linkToRss"/>
                </div>
            </div>
        </div>
    }


    @foreach (var row in Tools.Split(rssItemsList, 2))
    {
        <div class="row">
            @foreach (var column in row)
            {
                <div class="col-md-6">
                    <div class="rssItem">
                        <h3 class="rssItemTitle">
                            @column.Title
                        </h3>
                        <div class="rssItemDescription">
                            @Html.Raw(column.Description)
                            <div class="rssItemDate">
                                <p>
                                    @column.Date
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <div class="text-center">
        <ul class="pagination">
            <li>
                <a class="btn btn-default @prevDisabled" 
                   asp-action="Index" 
                   asp-route-pageIndex="@(rssItemsList.IndexOf(rssItemsList.FirstOrDefault()) + 1)" 
                   asp-route-titleToSearch="@titleToSearch" 
                   asp-route-pageSize="@pageSize" 
                   asp-route-linkToRss="@linkToRss">
                    <span>
                        &laquo;
                    </span>
                </a>
            </li>

            <li>
                <a class="btn btn-default @prevDisabled" 
                   asp-action="Index" asp-route-pageIndex="@(pageIndex - 1)" 
                   asp-route-titleToSearch="@titleToSearch" 
                   asp-route-pageSize="@pageSize" 
                   asp-route-linkToRss="@linkToRss">
                    <span>
                        &lt;
                    </span>
                </a>
            </li>


            @for (var i = 1; i <= totalPages; i++)
            {
                if (i == Model.PageIndex - 1)
                {
                    <li class="@isActive">
                        <a class="btn btn-default" 
                           asp-action="Index" 
                           asp-route-pageIndex="@(pageIndex - 1)" 
                           asp-route-titleToSearch="@titleToSearch" 
                           asp-route-pageSize="@pageSize" 
                           asp-route-linkToRss="@linkToRss">
                            @i
                        </a>
                    </li>
                }
                if (i == pageIndex)
                {
                    <li>
                        <a class="btn btn-default active" 
                           asp-action="Index" 
                           asp-route-pageIndex="@(pageIndex)" 
                           asp-route-titleToSearch="@titleToSearch" 
                           asp-route-pageSize="@pageSize"
                           asp-route-linkToRss="@linkToRss">
                            @i
                        </a>
                    </li>
                }
                if (i == pageIndex + 1)
                {
                    <li>
                        <a class="btn btn-default" 
                           asp-action="Index" 
                           asp-route-pageIndex="@(pageIndex + 1)" 
                           asp-route-titleToSearch="@titleToSearch" 
                           asp-route-pageSize="@pageSize" 
                           asp-route-linkToRss="@linkToRss">
                            @i
                        </a>
                    </li>
                }
                if (i == pageIndex + 1 && i == 2 && totalPages > 2)
                {
                    <li>
                        <a class="btn btn-default" 
                           asp-action="Index" 
                           asp-route-pageIndex="@(pageIndex + 2)" 
                           asp-route-titleToSearch="@titleToSearch" 
                           asp-route-pageSize="@pageSize" 
                           asp-route-linkToRss="@linkToRss">
                            @(i + 1)
                        </a>
                    </li>
                }
                if (i == pageIndex - 2 && i == totalPages - 2)
                {
                    <li>
                        <a class="btn btn-default" 
                           asp-action="Index" 
                           asp-route-pageIndex="@(pageIndex - 2)" 
                           asp-route-titleToSearch="@titleToSearch" 
                           asp-route-pageSize="@pageSize" 
                           asp-route-linkToRss="@linkToRss">
                            @(i)
                        </a>
                    </li>
                }
            }

            <li>
                <a class="btn btn-default @nextDisabled" 
                   asp-action="Index" 
                   asp-route-pageIndex="@(pageIndex + 1)" 
                   asp-route-titleToSearch="@titleToSearch" 
                   asp-route-pageSize="@pageSize" 
                   asp-route-linkToRss="@linkToRss">
                    <span>
                        &gt;
                    </span>
                </a>
            </li>

            <li>
                <a class="btn btn-default @nextDisabled" 
                   asp-action="Index" 
                   asp-route-pageIndex="@(totalPages)" 
                   asp-route-titleToSearch="@titleToSearch" 
                   asp-route-pageSize="@pageSize" 
                   asp-route-linkToRss="@linkToRss">
                    <span>
                        &raquo;
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>